<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Omigra Enterprise</title>
    <link rel="stylesheet" href="../static/styles/contact.css">
    <link rel="stylesheet" href="../static/styles/profile.css">  
    <link rel="stylesheet" href="../static/styles/home.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="user-info">
                <img src="../static/images/default-profile.jpg" alt="profilcpic">
             </div> 
            
            <div class="heading">
                <h1>Omigra Enterprise Recruitment</h1>
            </div>


            <!-- Dropdown Menu -->
            <div class="dropdown-container">
                <button class="dropdown-btn">Menu</button>
                <div class="dropdown-content">
                    <a href="profile.html">Profile</a>
                    <a href="home.html">Home</a>
                    <a href="about.html">About Us</a>
                    <a href="contact.html">Contact Us</a>
                    <a href="#logout">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section id="contact">
            <h2>Contact Us</h2>
            <p>For any inquiries, please contact us:</p> 
            <p>Phone: +97450075368 or 0741715502</p>
            <p>Email: <a href="mailto:absalomominde1@gmail.com">absalomominde1@gmail.com</a></p>
            <form id="contact-form" action="/contactMessage" enctype="multipart/form-data" method="POST">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="4" required></textarea>
                <button type="submit">Send Message</button>
            </form>
        </section>
    </main>
    <footer>
        <p>Contact us: +97450075368 or 0741715502 | Email: absalomominde1@gmail.com</p>
    </footer>
    <script src="../static/scripts/contact.js"></script>
</body>
</html>
