body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

main {
    padding: 20px;
}

#apply-section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#apply-section h2 {
    margin-top: 0;
}

#apply-form {
    display: flex;
    flex-direction: column;
}

#apply-form label {
    margin: 10px 0 5px;
}

#apply-form input,
#apply-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#apply-form input[type="file"] {
    padding: 3px;
}

#apply-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

#apply-form button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: bottom;
    width: 100%;
    bottom: 0;
}


/* Header Styling */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.back-button {
    position: absolute;
    left: 0;
    background-color: transparent;
    border: none;
    color: #fff; /* Button color */
    cursor: pointer;
    font-size: 40px; /* Size of the arrow */
    padding: 0;
    margin-right: 10px; /* Space between button and the h1 */
    margin-left: 10px; /*Space btwn border and back button*/
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    flex-grow: 1;
}